<div class="config colorConfig {{extraClasses}}">
  <h1 class="propertyTite">{{title}}</h1>
  {{#each colors}}

    <button class="color{{#if this.current}} selectedColor{{/if}} {{#if this.transparent}} transparentColor{{/if}}"
            title="{{this.name}}"
            data-value="{{this.value}}"
            style="background-color: {{this.value}} !important"> </button>

  {{/each}}
</div>
