<p class="help">{{ t "toolbox.help" }}</p>
<p class="help">{{ t "toolbox.help_foo" }}</p>

<div class="textbox draggable" data-boxtype="text" title="Drag&amp;Drop TextBox">{{ t "toolbox.textbox" }}</div>
<div class="imagebox draggable" data-boxtype="image" title="Drag&amp;Drop ImageBox">{{ t "toolbox.imagebox" }}</div>
<div class="plainbox draggable" data-boxtype="plain" title="Drag&amp;Drop PlainBox">{{ t "toolbox.plainbox" }}</div>
<span class="dragdrop_image_from_computer">{{ t "toolbox.desktopHelp" }}</span>
