

status: {{status}}

<span class="loadedBytes">
{{loaded}}
</span>

<span class="uploadSep">/</span>

<span class="totalBytes">
{{total}} kB
</span>


<span class="totalBytes">
Speed: {{speed}}kB/s
</span>

{{error}}
