<!doctype html>
<html>
<head>
  <title>Pahvi - Making presentations together</title>

  {{{googleAnalytics}}}

  {{{renderStyleTags "pahvi"}}}
  {{{renderScriptTags "pahvi"}}}


  {{{clientTemplate "topmenu"}}}
  {{{clientTemplate "sidemenu"}}}
  {{{clientTemplate "toolbox"}}}
  {{{clientTemplate "layers"}}}
  {{{clientTemplate "lightbox"}}}
  {{{clientTemplate "upload"}}}
  {{{clientTemplate "startinfo"}}}

  <!-- Box templates -->
  {{{clientTemplate "textbox"}}}
  {{{clientTemplate "plainbox"}}}
  {{{clientTemplate "imagebox"}}}

  <!-- Box property config templates -->
  {{{clientTemplate "boxproperties"}}}
  {{{clientTemplate "config_color"}}}
  {{{clientTemplate "config_imgsrc"}}}
  {{{clientTemplate "config_texteditor"}}}
  {{{clientTemplate "config_nameeditor"}}}

</head>
<body class="presentation">
{{{body}}}
</body>
</html>
