<!doctype html>
<html>
<head>
  <title>{{data.name}} - Pahvi - Opinsys Oy</title>

  {{{googleAnalytics}}}

  {{#if authKey}}
  <script type="text/javascript" charset="utf-8">
    window.AUTH_KEY = "{{authKey}}";
  </script>
  {{/if}}

  {{{css}}}
  {{{appsources}}}
  {{{js}}}

  {{{clientTemplate "topmenu"}}}
  {{{clientTemplate "sidemenu"}}}
  {{{clientTemplate "toolbox"}}}
  {{{clientTemplate "layers"}}}
  {{{clientTemplate "lightbox"}}}
  {{{clientTemplate "upload"}}}
  {{{clientTemplate "startinfo"}}}
  {{{clientTemplate "readonlylink"}}}

  <!-- Box templates -->
  {{{clientTemplate "textbox"}}}
  {{{clientTemplate "plainbox"}}}
  {{{clientTemplate "imagebox"}}}

  <!-- Box property config templates -->
  {{{clientTemplate "boxproperties"}}}
  {{{clientTemplate "config_color"}}}
  {{{clientTemplate "config_imgsrc"}}}
  {{{clientTemplate "config_texteditor"}}}
  {{{clientTemplate "config_nameeditor"}}}

</head>
<body>
{{{body}}}
</body>
</html>
