<!doctype html>
<html>
<head>
  <title>Pahvi - Making presentations together</title>

  {{{ renderStyleTags }}}
  {{{ renderScriptTags }}}


  {{{clientTemplate "topmenu"}}}
  {{{clientTemplate "sidemenu"}}}
  {{{clientTemplate "toolbox"}}}
  {{{clientTemplate "layers"}}}

  <!-- Box templates -->
  {{{clientTemplate "textbox"}}}
  {{{clientTemplate "plainbox"}}}

  <!-- Box property config templates -->
  {{{clientTemplate "config_color"}}}

</head>
<body>
{{{body}}}
</body>
</html>
