<!doctype html>
<html>
<head>
  <title>Example Webapp</title>

  {{{ renderStyleTags }}}
  {{{ renderScriptTags }}}

  {{{clientTemplate "textbox"}}}
  {{{clientTemplate "topmenu"}}}
  {{{clientTemplate "layers"}}}

</head>
<body>
{{{body}}}
</body>
</html>
