<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{data.name}} - Pahvi - Opinsys Oy</title>

  <!-- Mobile viewport optimization h5bp.com/ad -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width">

  {{{renderStyleTags "remote"}}}
  {{{renderScriptTags "remote"}}}

  {{{clientTemplate "remote_item"}}}
</head>

<body>
  <h1 class="pahviName" >
    Remote controller for {{data.name}}
  </h1>

</body>
</html>



