<!doctype html>
<html>
<head>
  <title>Pahvi - {{ t "welcome.title" }} - Opinsys Oy</title>
  {{{googleAnalytics}}}

  <!-- css -->
  {{{css}}}
  <!-- js -->
  {{{appsources}}}
  {{{js}}}

  {{{clientTemplate "welcomeform"}}}
</head>

<body>
  <a href="https://github.com/opinsys/pahvi">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
  </a>

<div class="wrap">

<h1>Pahvi <span><a href="http://www.opinsys.fi" title="Opinsys Oy"><img src="/img/opinsys_logo.png" /></a></span></h1>

<p>

{{ t "welcome.about" }}

<span>
{{{ t "welcome.more" }}}
</span>

</p>

<div class="pahviForm">
<!--See views/client/welcomeform.hbs-->
</div>
</div>
</body>


</html>

